<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   v6.11.0.plist
   MOJiDict-installerDemo

   Created by Mingzhi on 2021/9/15.
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://raw.githubusercontent.com/MingzhiYe/Dict-Downloader/main/MOJiDICT_v6.17.0_build20220303.ipa</string>
                    </dict>
                   <dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://is3-ssl.mzstatic.com/image/thumb/Purple116/v4/09/ba/6b/09ba6bdb-8a7e-8f5b-bcd8-2694ee22a0c7/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/230x0w.webp</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://is3-ssl.mzstatic.com/image/thumb/Purple116/v4/09/ba/6b/09ba6bdb-8a7e-8f5b-bcd8-2694ee22a0c7/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/230x0w.webp</string>
				</dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>3EW3QF484M.MojiDict</string>
                    <key>bundle-version</key>
                    <string>6.17.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>MOJi辞書(v6.17.0)</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
